@model RoT_v6.Models.Job
@{
    ViewData["Title"] = "Create";
}

@{ Layout = "";
    }
<h2>Create Job</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Client" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="CompleteDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompleteDate" class="form-control" />
                <span asp-validation-for="CompleteDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="jobNum" class="col-md-2 control-label">Job Number</label>
            <div class="col-md-10">
                <input asp-for="jobNum" class="form-control" />
                <span asp-validation-for="jobNum" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DesiredDate" class="col-md-2 control-label"> Desired Date</label>
            <div class="col-md-10">
                <input asp-for="DesiredDate" class="form-control datetime" />
                <span asp-validation-for="DesiredDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EstCost" class="col-md-2 control-label">Estimated Cost</label>
            <div class="col-md-10">
                <input asp-for="EstCost" class="form-control" />
                <span asp-validation-for="EstCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstHours" class="col-md-2 control-label">Estimated Hours</label>
            <div class="col-md-10">
                <input asp-for="EstHours" class="form-control" />
                <span asp-validation-for="EstHours" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="InvCost"  class="col-md-2 control-label" ></label>
            <div class="col-md-10">
                <input asp-for="InvCost" value="0" class="form-control" />
                <span asp-validation-for="InvCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="InvHours"  class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InvHours" value="0" class="form-control" />
                <span asp-validation-for="InvHours" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control">
                    <option>Active</option>
                    <option>NotReady</option>
                    <option>Completed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary" type="submit" value="Create"/>
            </div>
        </div>
    </div>
</form>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">  
        $(function () {
            $('.datetime').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });        
</script>
