@model RoT_v6.Models.Purchase

@{
    ViewData["Title"] = "EditJobDetails";
}

@{ 
    if (ViewBag.Fail != "1")
    {
        Layout = "";
    }
}

<h2>Edit</h2>
@{
    if (ViewBag.Fail == "1")
    {
        <h3 style="color: red;">Something went wrong, please retry your input here</h3>
    }
}
<form asp-action="EditJobDetails/@Model.purchID">
    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="purchID" />
        <input type="hidden" asp-for="employeeId" />
        <input type="hidden" asp-for="Miscellaneous" id="M" />
        <input type="hidden" asp-for="ShippingSurcharge" id="S" />
        <div class="form-group" style="display:none;">
            <label asp-for="ArrivedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArrivedDate" class="form-control datetime" />
                <span asp-validation-for="ArrivedDate" class="text-danger" />
            </div>
        </div>
        @if (!User.IsInRole("Employee"))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>
                        <label asp-for="Block"></label>
                        <input asp-for="Block" />
                    </div>
                </div>
            </div>
        }
        <div class="form-group" style="display:none;">
            <label asp-for="CostPer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CostPer" id="C" class="form-control" />
                <span asp-validation-for="CostPer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="EstArrDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EstArrDate" class="form-control datetime" />
                <span asp-validation-for="EstArrDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdealDelDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdealDelDate" class="form-control datetime" />
                <span asp-validation-for="IdealDelDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Notes" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="JobID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobID" class="form-control" />
                <span asp-validation-for="JobID" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="PurchDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurchDate" class="form-control datetime" />
                <span asp-validation-for="PurchDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="RequestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequestDate" class="form-control datetime" />
                <span asp-validation-for="RequestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="TotalCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalCost" id="T" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label asp-for="Vendor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" onclick="Total()" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
        $(function () {
            $('.datetime').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
        function Total() {
            $('#T').val(parseFloat($('#T').val().replace(/,/g, '')));
            $('#C').val(parseFloat($('#C').val().replace(/,/g, '')));
            $('#S').val(parseFloat($('#S').val().replace(/,/g, '')));
            $('#M').val(parseFloat($('#M').val().replace(/,/g, '')));
        }
</script>
