@model RoT_v6.Models.Purchase

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="purchID" />
        <div class="form-group">
            <label asp-for="ArrivedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArrivedDate" class="form-control" />
                <span asp-validation-for="ArrivedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Block" />
                    <label asp-for="Block"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CostPer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CostPer" class="form-control" />
                <span asp-validation-for="CostPer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstArrDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EstArrDate" class="form-control" />
                <span asp-validation-for="EstArrDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdealDelDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdealDelDate" class="form-control" />
                <span asp-validation-for="IdealDelDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobID" class="form-control" />
                <span asp-validation-for="JobID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurchDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurchDate" class="form-control" />
                <span asp-validation-for="PurchDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequestDate" class="form-control" />
                <span asp-validation-for="RequestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vendor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
